
body {
  background-color: black;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: absolute; 
}



#user-score, #comp-score{
  color: white;
  position: absolute;
  top: 12px;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

#user-score{
left: 150px;
}

#comp-score{
left: 270px;
}

#user-paddle{
  background-color: aqua;
  position: absolute;
  height: 80px;
  width: 20px;
  left: 0px;
  top: 160px;
}

#comp-paddle{
  background-color: blue;
  position: absolute;
  height: 80px;
  width: 20px;
  right: 0px;
  top: 160px;
}

#ball{
  background-color: white;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
 left: 210px;
 top: 200px;
}

